<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flor del desierto</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon2.png' %}">
</head>
<body>
<H1>Posada flor del desierto</H1>
<br>
<br>
<br>
<br>
<br>

<div>
<div class="d-flex justify-content-center">

  <a href="https://wa.me/56974981670" class="btn btn-success btn-lg d-flex align-items-center justify-content-center gap-5 px-4">
    <img src="{% static 'img/genio3.png' %}" alt="WhatsApp" width="32" height="32">
    WhatsApp
    <img src="{% static 'img/genio3.png' %}" alt="WhatsApp" width="32" height="32">
  </a>
</div> 
<br>
<br>
<div class="d-flex justify-content-center">
  <a href="https://www.instagram.com/flor_del_desierto_22/?utm_source=ig_web_button_share_sheet" class="btn btn-danger btn-lg d-flex align-items-center justify-content-center gap-5 px-4">
    <img src="{% static 'img/genio2.png' %}" alt="Instagram" width="32" height="32">
    Instagram
    <img src="{% static 'img/genio2.png' %}" alt="Instagram" width="32" height="32">
  </a>
</div> 
</div>



<footer class="footer">
  <small>Creado por Maximiliano Navea</small>
</footer>

<script src="{% static 'js/bootstrap.bundle.min.js'  %}"></script>
</body>
</html>